<% audios.forEach((audio, idx) => { %>

  <%_ const additionalClass = audio.category == 'song' ? 'opacity-50' : 'transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white' _%>

  <li <%- idx == 0 ? 'id="focused-audio"' : '' %>
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 <%= additionalClass -%>"
    aria-disabled="<%= audio.category == 'song' ? 'true' : 'false' -%>"
    tabindex="<%= idx == 0 ? '0' : '-1' -%>"
    data-name="<%= audio.name -%>"
    data-category="<%= audio.category -%>">

    <span><%= audio.title %></span>

  <% if(audio.category == 'song') { %>
    <p class="text-sm group-aria-disabled:hidden"><%= audio.lang %></p>
    <p class="hidden text-sm group-aria-disabled:block"><%%= playlistNotice %%></p>
  <% } else if(audio.lang) { %>
    <p class="text-sm"><%= audio.lang %></p>
  <% } %>
  </li>
<%_ }); _%>
